<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>App</title>
</head>

<body>
    <h1>Wykres</h1>
    <ul>
        <li>
            <a href="/maps">Mapa</a>
        </li>
        <li>
            <a href="/chart">Wykres</a>
        </li>
    </ul>

</body>

</html>